<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cálculo de compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Calculo de compras</h2>
        <form method="POST">
            <label>Ingresa tu nombre</label>
            <input type="text" name="nombre" required>
            
            <label>Ingresa tu edad</label>
            <input type="number" name="edad" required>
            
            <label>Ingresa la cantidad de tarros de pintura a comprar</label>
            <input type="number" name="cantidad" required>
            
            <button type="submit">Calcular</button>
        </form>

        {% if nombre is not none %}
        <div class="resultado">
            <p>Nombre del cliente: ${{ nombre }}</p>
            <p>Total sin descuento: ${{ total_sin_descuento }}</p>
            <p>El descuento es : ${{ descuento }}</p>
            <p>El total a pagar es de : ${{ total_a_pagar }}</p>
        </div>
        {% endif %}
        
        <br>
        <a href="/">Volver al menú</a>
    </div>
</body>
</html>